<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,minimum-scale=1">
<meta name="theme-color" content="#fff">

<script>
{% include "observer.js" %}
</script>

<script>
{% include "set2.js" %}
</script>

<style type="text/css">
{% include "set.css" %}
</style>

<title>Set fridge</title>
</head>

<body>

{% if testmode %}
<i>Test Mode</i><br/>
{% endif %}
<div id="current_fridge">
Wort {{ self.format_degrees(status.temp_wort) }}
Fridge {{ self.format_degrees(status.temp_fridge) }}
Fridge is 
{% if status.on %}
On
{% else %}
Off
 {% match recent_off_time %}
  {% when Some with (t) %}
   (for {{ t }})
 {% when None %}
 {% endmatch %}
{% endif %}
</div>

<section id="paramlist">
{% for input in self.yesnoinputs %}
{{ input|safe }}
{% endfor %}

{% for input in self.numinputs %}
{{ input|safe }}
{% endfor %}

</section>

<span id="savebox">

<input type="button" id="savebutton" value="Save"
    {% if !allowed %} 
    disabled 
    {% endif %}
/>

<span id="status"></span>
{% if !allowed %} 
<span id="register"> <a href="register">Register</a></span>
{% endif %}
{% if debug %}
Session id <code>{{cookie_hash}}</code>
{% endif %}
</span>

{% if !allowed %} 
<span id="reload"> <a href=".">Reload</a></span>
{% endif %}
<div id="plot">

{{svg|safe}}

{% if testmode %}
<div>
Worts
</div>
{% for w in self.worts %}
<div>
{{ "{:?}"|format(w) }}
</div>
{% endfor %}
{% endif %}

</body>


</html>
