<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,minimum-scale=1">
<meta name="theme-color" content="#fff">

<script>
{% include "observer.js" %}
</script>

<style type="text/css">
{% include "set.css" %}
</style>

<title>Set templog</title>

</head>

<script>
'use strict';

function Model(params, csrf_blob) {
    var self = observer.observable(this);

    self.params = params
    self.csrf_blob = csrf_blob
    Object.assign(self.oldparams, self.params)
    // to be filled by macros
    self.increments = new Map()

    self.set = function(param, newvalue) {
        params[param] = newvalue
        self.emit("edit", param)
    }

    self.get_increment = function(param) {
        // || is OK because a 0 increment would be silly
        return self.increments.get(param) || 1
    }

    self.adjust = function(param, updown) {
        params[param] += updown * self.get_increment(param)
        self.emit("edit", param)
    }

    self.save = function() {
        self.emit("status", "Saving...")

        var post_json = {}
        post_json.csrf_blob = self.csrf_blob
        post_json.params = Object.entries(self.params)

        const post_data = {data: JSON.stringify(post_json)}

        var req = $.ajax({type: "POST",
            url: "set/update",
            data: post_data});

        req.done(function(data, status, hdr) {
            self.emit("status", "Saved")
        });

        req.fail(function(data, status, hdr) {
            self.emit("status", 
                "Failed: "  + data.status + ' '
                + data.statusText + ' ' + data.responseText)
        });
    }
}

(function() {

var save_allowed = {{allowed}};
window.model = new Model({{params|json|safe}}, "{{csrf_blob}}");

model.on("edit", function(param)
{
    var el = $("#" + param.id);
    if (param.kind === "number")
    {
        set_text_state(el, param);
    }
    else if (param.kind === "yesno")
    {
        set_button_state(el, param.value);
    }
    var same;
    switch (typeof(param.oldvalue))
    {
        case "boolean":
            same = ((!param.value) == (!param.oldvalue));
            break;
        case "number":
            same = Math.abs(param.value - param.oldvalue) < 1e-3 * param.amount;
            break;
        default:
            same = (param.value === param.oldvalue);
    }

    $("#oldvalue", el).toggleClass("modified", !same);
});

model.on("status", function(status) {
    $('#status').text(status)
})

window.onload = function() {
    if (!save_allowed) {
        $("#savebutton").attr("disabled", true);
        $('#status').text("No cert")
        $('#mailauth').show();
    }

    $("#savebutton").click(function() {
        model.save();
    })
}

function set_text_state(el, param)
{
    var input = $(".input", el);
    var s = Number(param.value).toFixed(param.digits)
    input.text(s).val(s)
}

function set_button_state(el, value)
{
    $(".button_yes", el).toggleClass("onbutton", value);
    $(".button_no", el).toggleClass("onbutton", !value);
}

function add(param)
{
    if (param.kind === "number")
    {
        var el = $($.render(number_template, param)).appendTo(root);
        var input = $(".input", el);

        input.keyup(function(e) {
            if (e.which == 13)
            {
                model.set(param, Number(this.value));
            }
        });

        input.blur(function(e) {
            model.set(param, Number(this.value));
        });

        $(".button_up", el).on("mousedown touchstart", function(e) {
            e.preventDefault();
            model.adjust(param, 1);
            this.blur()
        });
        $(".button_down", el).on("mousedown touchstart", function(e) {
            e.preventDefault();
            model.adjust(param, -1);
            this.blur()
        });

        set_text_state(el, param);
    }
    else if (param.kind === "yesno")
    {
        var el = $($.render(button_template, param)).appendTo(root);
        var button_yes = $(".button_yes", el);
        var button_no = $(".button_no", el);

        button_yes.on("mousedown touchstart", function(e) {
            model.set(param, true);
            this.blur()
        })

        button_no.on("mousedown touchstart", function(e) {
            model.set(param, false);
            this.blur()
        })

        set_button_state(el, param.value);
    }
}

})()





{% macro numinput(name, value, title, unit, step, digits) %}
<div class="numinput" 
    data-paramcomponent="{{name}}"
    data-paramstep="{{step}}"
    >
<span class="existing">{{title}} 
    <span id="oldvalue">{{ "{:.*}"|format(digits,value) }}{{unit}}</span>
</span>
<br/>
<span class="inputrow">
<input type="number" class="input" data-paramvalue="{{name}}" step="{{ step }}"/>
<input type="button" class="button_down" value="-"/>
<input type="button" class="button_up" value="+"/>
</span>
</div>
{% endmacro %} {# numinput #}

</script>

<body>
<section id="paramlist">
    {#
{% call yesnoinput("running", params.running, "Running") %}
{% call yesnoinput("nowort", params.nowort, "No wort") %}
#}

{% call numinput("fridge_setpoint", params.fridge_setpoint, 
    "Setpoint", "°", 0.1, 1) %}
{% call numinput("fridge_difference", params.fridge_difference, 
    "Difference", "°", 0.1, 1) %}
{% call numinput("fridge_range_lower", params.fridge_range_lower, 
    "Lower range", "°", 1, 0) %}
{% call numinput("fridge_range_upper", params.fridge_range_upper, 
    "Upper range", "°", 1, 0) %}

</section>

<span id="savebox">

<input type="button" id="savebutton" value="Save"
    {% if !allowed %} 
    disabled 
    {% endif %}
/>

<span id="status"></span>
<span id="mailauth"> <a href="mailto:{{email}}?Subject=Allow%20Templog&body=Hash%20is%20{{cookie_hash}}">Email</a>
</span>
</span>


</body>

</html>
